<!doctype html>
<html lang="en">

<head>
    <%- include("../partial/header") %>
</head>

<body>
    <%- include("../partial/navbar") %>
        <%- include("./banner") %>
            <%- include("./feature") %>
                <%- include("./sale") %>
                    <%- include("./products") %>
                        <%- include("./subscribe") %>
                            <%- include("./clients") %>
                                <%- include("../partial/footer") %>
                                    <%- include("../partial/scripts") %>
</body>

</html>